body {
  background: #20282e;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Bitter', serif;
  font-weight: 600;
}

h3 {
  font-weight: 200;
  font-size: 1.1rem;
}

h4 {
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
  text-align: center;
  font-style: italic;
  color: lightgray;
}

p {
  line-height: 1rem;
}

a {
  color: lightgray;
}

a:hover {
  color: gold
}

ul li {
  padding-left: 0.5rem
}

sup {
  font-size: 0.5rem;
  font-style: italic;
}

#map {
  height: 60vh;
  background: #262626;
}

#search-bar {
  font-family: 'Nunito', sans-serif;
  background-color: black;
  font-style: italic;
  color: white;
  font-size: 0.9rem;
  text-align: center;
  margin: auto;
  height: 2.5rem;
  width: 95%;
  border-radius: 7.5px;
  border: 1.5px solid white
}

#search-bar:hover {
  border: 1.5px solid gold;
}

#search-candidate {
  font-family: 'Nunito', sans-serif;
  background-color: black;
  color: gold;
  font-size: 0.9rem;
  height: 2.5rem;
  width: 95%;
  border: 1.5px solid gold;
  border-radius: 7.5px
}

.modal-content {
  font-size: 1rem;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  /* border: 1.5px solid gold; */
  /* color: lightgray; */
  padding: 2rem 10vw;
  z-index: 11;
}

#top-purchasers-table {
  font-size: 0.9rem;
  border-collapse: collapse;
  border-style: hidden;
  width: 95%;
}

/* #top-purchasers-table tbody {
  color: white;
  font-size: 0.9rem;
  border: 1px solid black;
  border-collapse: collapse;
  width: 95%;
} */

#top-purchasers-table th {
  color: white;
  text-align: center;
  font-size: 0.9rem;
  border: 0.5px solid lightgray;
  border-collapse: collapse;
  padding: 8px;
  width: 75%;
}

#top-purchasers-table td {
  color: white;
  font-size: 0.9rem;
  border: 0.5px solid lightgray;
  border-collapse: collapse;
  padding: 8px;
  width: 75%;
}

#top-purchasers-table td:first-child {
  text-decoration: underline;
  text-align: center;
}

#top-purchasers-table td:first-child:hover {
  color: gold !important;
}


#ui-toggle {
  background-color: #a6761d;
  color: black;
  font-size: 0.9rem;
  border-radius: 7.5px;
  text-align: center;
  height: 2.5rem;
  width: 75%;
  border: none
}

#ui-toggle:hover {
  border: 1.5px solid gold;
}

#dropdown-ui {
  width: 100%;
}

#modalButton {
  font-size: 0.9rem;
  background-color: black;
  color: white;
  margin: 0 auto;
  display: block;
  height: 2.5rem;
  width: 15rem;
  border: 1.5px solid white;
  border-radius: 7.5px
}

#modalButton:hover {
  color: gold !important;
  border: 1.5px solid gold !important;
}

.leaflet-popup {
  font-family: 'Bitter', serif;
}

/* 480px and up */
@media (min-width: 480px) {
  aside {
    height: 80vh;
  }

  #map {
    height: 80vh;
    position: relative;
    z-index: 1;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}